<extend name="Common:base" />

<block name="content">
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading form-inline clearfix">
                    <div class="form-group pull-left">
                        <label class="sr-only"></label>
                        <a href="#edit_role_layer" data-toggle="modal" class="btn btn-outline btn-success" data-type="add">
                            <i class="fa fa-plus fa-fw"></i> 添加角色
                        </a>
                    </div>
                </div>
                <div class="panel-heading clearfix">
                    <form class="form-inline pull-left" role="form" action="__SELF__" id="form_filter" method="post">
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control" name="filter[option]">
                                <option value="name" {$filter[option]|option_selected=###,"name"}>角色名</option>
                                <option value="id" {$filter[option]|option_selected=###,"id"}>ID</option>
                            </select>
                        </div>
                        <div class="form-group" id="keyword">
                            <input type="text" class="form-control" name='filter[keyword]' value="{$filter[keyword]|hs}" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search fa-fw"></i> 搜 索
                        </button>
                        <input type="hidden" id="reset" name="reset" value="0">
                        <button type="submit" class="btn btn-primary" onclick="$('#reset').val('1')">
                            <i class="fa fa-refresh fa-fw"></i> 重 置
                        </button>
                    </form>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>角色名</th>
                                    <th>备注</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                            </thead>

                            <tbody>
                                <volist name="list" id="value">
                                    <tr>
                                        <td>{$value.id}</td>
                                        <td>{$value.name|hs}</td>
                                        <td>{$value.note|hs}</td>
                                        <td style="text-align: center">
                                            <a href="#edit_role_layer" data-toggle="modal" data-id="{$value.id}" data-name="{$value.name|hs}" data-note="{$value.note|hs}" data-type="edit" class="btn btn-xs btn-primary">编辑</a>
                                            <a href="{:U('System/roleMenuList', array('role_id' => $value[id], 'name' => $value[name]))}" class="btn btn-xs btn-primary">角色授权</a>
                                            <button type="button" data-href="{:U('System/roleDelete', array('id' => $value[id]))}" class="delete_confirm btn btn-xs btn-danger" data-toggle="modal" data-target="#common_confirm_modal">删除</button>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <!-- 分页 -->
                    <div class="pagination">{$page}</div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <!-- 添加/编辑弹层 -->
    <div class="modal fade" id="edit_role_layer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <form action="{:U('System/roleEdit')}" class="form-horizontal" method="post">
                    <div class="modal-body">

                        <input class="form-control" name="val[id]" type="hidden">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="val[name]" type="text" data-rule="required;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注:</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="val[note]" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            //删除数据
            $('.delete_confirm').on('click', function(){
                $href = $(this).attr('data-href');

                Common.confirm({
                    title: "删除数据",
                    message: "确定删除吗?",
                    operate: function (result) {
                        if (result) {
                            window.location = $href;
                        } else {
                            console.log('false');
                        }
                    }
                })
            });

            //modal 事件定义
            edit_role_layer = {
                bind:function(){
                    //添加/编辑数据
                    $("#edit_role_layer").on("show.bs.modal", function(e) {

                        //modal init
                        edit_role_layer.init();

                        // 这里的btn就是触发元素，即你点击的按钮
                        $btn = $(e.relatedTarget);
                        $type = $btn.data("type");

                        // title
                        switch ($type) {
                            case 'add':
                                $title = '添加';
                                break;
                            case 'edit':
                                $title = '编辑';
                                $id = $btn.data("id");
                                $name = $btn.data("name");
                                $note = $btn.data("note");
                                $('#edit_role_layer input[name="val[id]"]').val($id);
                                $('#edit_role_layer input[name="val[name]"]').val($name);
                                $('#edit_role_layer input[name="val[note]"]').val($note);
                                break;
                        }

                        $('#edit_role_layer .modal-title').html($title);

                    });
                },
                //modal数据初始化
                init:function(){
                    $('#edit_role_layer input[name="val[id]"]').val('');
                    $('#edit_role_layer input[name="val[name]"]').val('');
                    $('#edit_role_layer input[name="val[note]"]').val('');
                }
            };

            //模态窗事件绑定
            edit_role_layer.bind();

        });
    </script>
</block>